/**
* Custom Css for backend 
*
* @package Business_Plan 
*/
#business-plan-img-container li{
	padding: 3px;
}
#business-plan-img-container .business-plan-radio-img-selected{
	border: 3px solid #bcbcbc;
	padding: 1px;
	width: 16%;
}